<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finantial Analyser</title>
</head>

<style>
    #panel {
        background-color: #4c1873;
        width: max-content;
        height: 1000px;

    }

    #panel ul li {

        padding: 10px;
        margin-bottom: 10px;
    }

    #panel ul li a {
        color: white;

    }

    body {
        background-color: #cabfaf;
        display: flex;
    }
</style>


<body>
    <div id="panel">
        <ul>
            <li><a href="/">Go Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/plans">Plans</a></li>
            <li><a href="/form">Addition</a></li>
        </ul>
    </div>

    {% block content %}

    {% endblock %}
</body>

</html>