{% extends 'base.html'%}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
    .td-border {
        border: 2px solid black;
        margin: 0px;
        padding: 5px;
    }

    .plan-list {
        background-image: linear-gradient(#4f3073, white);
        box-shadow: 3px 8px 7px #f3f3f3;
        padding: 10px;
        margin: 10px;
        margin-left: 120px;
        border: 2px solid;
        width: 78%;
        border-radius: 10px;
        color: black;
        position: relative;
    }

    body {
        background-color: #9a98bb;
    }

    .btn-success {
        color: #fff;
        background-color: #4f3073;
        border-color: #4f3073;
    }


    #row {
        /* background-color: blue; */
        display: inline-flex;
        /* margin: 10px; */
    }

    #col1 {
        background-color: green;
        margin: 5px;
        text-align: center;
        padding: 20px;
        width: 100px;
        border: 2px solid;
        border-radius: 10px;
        border-color: black;
    }

    #col1:hover {
        background-color: #5cbf24;
        cursor: pointer;
    }

    #col2 {
        background-color: red;
        margin: 5px;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 100px;
        border: 2px solid black;
    }

    #col2:hover {
        background-color: #ff000099;
        cursor: pointer;
    }


    #box-plans h4 {
        text-align: center;
        color: black;
        margin-bottom: 0px;
    }

    .lbl {
        font-size: 30px;
        margin-left: 40px;
    }
    .inp {
        position: absolute;
        right: 100px;
    }
</style>


<div class="container">
    <h1 style="margin-left: 120px;">Add Plan!</h1>

    <div class="plan-list">
        <form action="">
            <label class='lbl' for="">Type
                <select class="inp" name="" id="">
                    <option value="#">Select</option>
                </select>
            </label>
            <br>
            <label class='lbl' for="">Date of Investment
                <input class="inp" type="text">
            </label>
            <br>
            <label class='lbl' for="">Date of Maturity
                <input class="inp" type="text">
            </label>
            <br>
            <label class='lbl' for="">Account number
                <input class="inp" type="text">
            </label>
            <br>
            <label class='lbl' for="">Bank name
                <input class="inp" type="text">
            </label>
            <br>
            <label class='lbl' for="">Location
                <input class="inp" type="text">
            </label>
        </form>
        <br>
        <button onclick=document_upload() type="button" class="btn btn-success">Upload Documents</button>

        <button onclick=display() type="button" class="btn btn-success">Add</button>
    </div>

</div>
<script type="text/javascript">
    function display() {
        window.alert('Add Button clicked !')
        location.href = "/plans"

    }
    function document_upload() {
        window.alert('Upload Document button clicked !')

    }
    function empClick() {
        alert('Employee clicked!')
    }
</script>
{% endblock %}